<header>
    <mat-toolbar color="primary">
        <span>Sensibo</span>
        <span class="spacer"></span>
        <a href="" mat-button > SMART  </a>
        <a href="" mat-button > PRODUCTS </a>
        <a href="" mat-button > CONTACT US  </a>
    </mat-toolbar>
</header>

<main>

  
<div class="login-page">
    <div class="content">
       
        <form class="login-form" fxFlex  >
            <div class="text-center">
                <h3 class="app-name">Checkout Form</h3>
            </div>

            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="First name">
                    </mat-form-field>
                </div>
            </div>


            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Last name">
                    </mat-form-field>
                </div>
            </div>


            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email">
                    </mat-form-field>
                </div>
            </div>


            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Mobile">
                    </mat-form-field>
                </div>
            </div>


            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Address line 1">
                    </mat-form-field>
                </div>
            </div>


            <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Address line 2">
                    </mat-form-field>
                </div>
            </div>

            


            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Password">
                    </mat-form-field>
                </div>
            </div>


            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>State</mat-label>
                <mat-select>
                  <mat-option value="option1">New York</mat-option>
                  <mat-option value="option3">Washington</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>

        <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
            <div fxFlexFill>
                <mat-form-field class="w-100">
                    <input matInput type="text" placeholder="City">
                </mat-form-field>
            </div>
        </div>
       



            <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Accept Terms and Conditions</mat-checkbox>
                </div>
               
            </div>


            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" >Place an Order</button>
                </div>
            </div>

        </form>
    </div>
</div>
</main>

<!-- Footer -->
<footer class="md-padding">
    
    <p style="text-align:center;color: rgb(179, 179, 179);">Copyright &copy; 2021 Sensibo</p>
  
</footer>