<header>
    <mat-toolbar color="primary">
        <span>Sensibo</span>
        <span class="spacer"></span>
        <a href="" mat-button > SMART  </a>
        <a href="" mat-button > PRODUCTS </a>
        <a href="" mat-button > CONTACT US  </a>
    </mat-toolbar>
</header>
<!-- MAIN -->
<main>
  
    <div class="container">
        <div class="team_container">
            <div class="text">Sensibo Sky</div>
        </div>
        <div class="row">
            <!--First User design starts here-->
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="assets/product.jpg" >
                    </div>
                    <div class="desc">
                        <h2>Single Kit</h2>
                        <p>1 Unit $89.00</p>
                    </div>
                    <div class="btn-div">
                       <button mat-raised-button color="primary">BUY NOW</button>
                    </div>
                </div>
            </div>
            <!--First user design ends here-->
             <!--second User design starts here-->
             <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="assets/product.jpg" >
                    </div>
                    <div class="desc">
                        <h2>Starter Kit</h2>
                        <p>2 Units $178.00</p>
                    </div>
                    <div class="btn-div">
                       <button mat-raised-button color="primary">BUY NOW</button>
                    </div>
                </div>
            </div>
            <!--second user design ends here-->
             <!--third User design starts here-->
             <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="assets/product.jpg" >
                    </div>
                    <div class="desc">
                        <h2>Family Kit</h2>
                        <p>3 Units $237.00</p>
                    </div>
                    <div class="btn-div">
                       <button mat-raised-button color="primary">BUY NOW</button>
                    </div>
                </div>
            </div>
            <!--third user design ends here-->
             <!--fourth User design starts here-->
             <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="assets/product.jpg" >
                    </div>
                    <div class="desc">
                        <h2>Pro Kit</h2>
                        <p>4 Units $316.00</p>
                    </div>
                    <div class="btn-div">
                       <button mat-raised-button color="primary">BUY NOW</button>
                    </div>
                </div>
            </div>
            <!--fourth user design ends here-->
             <!--Fifth User design starts here-->
             <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="assets/product.jpg" >
                    </div>
                    <div class="desc">
                        <h2>Premium Kit</h2>
                        <p>4 Units $390.00</p>
                    </div>
                    <div class="btn-div">
                       <button mat-raised-button color="primary">BUY NOW</button>
                    </div>
                </div>
            </div>
            <!--Fifth user design ends here-->
             <!--six User design starts here-->
             <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="assets/product.jpg" >
                    </div>
                    <div class="desc">
                        <h2>Luxury Kit</h2>
                        <p>4 Units $420.00</p>
                    </div>
                    <div class="btn-div">
                       <button mat-raised-button color="primary">BUY NOW</button>
                    </div>
                </div>
            </div>
            <!--six user design ends here-->
        </div>
    </div>  
      
      
</main>




<!-- Footer -->
<footer class="md-padding">
    
      <p style="text-align:center;color: rgb(179, 179, 179);">Copyright &copy; 2021 Sensibo</p>
    
  </footer>